header {
 text-align:center;   
}

h1 {
    color: #FF1493;
    align-content:center;
}

h2{
    font-size: 40px;
    font-family: helvetica;
    color: #000000;
    margin-left: 3%;
}
/*----- Cannot get the h6 to not turn white once clicked upon----*/
h6 a{
    font-family:helvetica;
    color:#000000
}
ol, ul {
	list-style: none;
}
/*--------------------------- navigation elements: Cannot get the footer to remain centered and on the bottom-----------------------------*/
nav a{
    color: #ffffff;
    text-decoration: none;
}

nav a: hover{
    color: #000000;
    text-decoration:none;
}

nav {
    width: 100px;
    float:left;
    font-family:helvetica;
}
nav a:link, a:visited {
	border-radius: 50%;
  	width: 100px;
  	height: 100px; 
  	display:block;
  	background-color: #FF6699;
  	color: #fff;
  	text-align: center;
  	align-content:center;
    margin-bottom: 60px;
  	margin-left:30px;
  	line-height: 100px;
  	font-family: helvetica;
    
}
nav a:hover {
	color: #000;
	background-color: #D3D3D3;
    text-align:center;
}
nav a:active {
	color: #000;
}
/*--------------------------------------------- body elements---------*/
article{
 font-family:helvetica;
 margin-left: 20%;
    
}

p{  
    font-size: 16px;
    line-height: 24px;
}
img{
    width:50%
    height: 80%
}
aside {
    background-color: #000
    float: right;
    margin-left: 5%
    width: 45%
}

aside{
    background: #FFFFFF;
    width: 45%;
    float:right;
    margin-left: 5%;

}

img{
    float:right;
    margin-right:8%;
    
}


footer{
    height: 150px;
    text-align::center;
    border-top: 1px solid;
    padding: 30px;
    align-content:center
}

footer li{
    display:inline;
}





/*footer rule
    


